@font-face {
    font-family: 'Roboto';
    src: url('../../Style/fonts/SomethingStrange.ttf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('../../Style/fonts/SomethingStrange.ttf');
}
